<launch>




    <arg name="bag_path" default = "$(find slam)/bag/pc_imu.bag" />
    <arg name="config_path" default = "$(find slam)/config/slam.yaml" />


    <node name="slam" pkg="slam" type="run_slam">
        <param name="config_file" type="string" value="$(arg config_path)" />
    </node>


    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="test_rviz" args="-d $(find slam)/launch/rviz/rviz.rviz" />


    <!-- <node pkg="rosbag" type="play" name="playback" args="/home/erge/桌面/开源工程/ros_ws/pc_imu.bag" output="screen"/> -->


</launch>